<a href="https://colab.research.google.com/github/dla9944/apatheia/blob/main/221207_Chapter2_Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
* Numpy - 다차원 배열 데이터 : 컴퓨터, 수학, 분석, 모델링...
* 시계열(Series)나 표(Table) 데이터들이 대부분
* Pandas --> Series, DataFrame

(판다스는 colab에 이미 깔려 있습니다)

In [ ]:
#pip install pandas
import pandas as pd # pd

# 시리즈 (Series)
* 시리즈는 Numpy에서 제공하는 1차원 배열과 유사합니다
* Numpy 1차원 배열 - 타입과 길이가 고정된 리스트 --> 인덱스를 가짐 --> 정수 인덱스(0~)
* 시리즈 : 일종의 딕셔너리에 좀 더 가까운 것입니다 --> 정수 인덱스, 라벨
> 시리즈 = 값(value) + 인덱스(index)

## 시리즈 생성
* 시리즈 만들기 = 데이터를 리스트 또는 1차원 배열 형식으로 `Series` 클래스 생성자에 넣어주면 시리즈 객체 생성이 가능합니다.
* 이때 인덱스를 넣으면 길이는 데이터의 길이와 일치해야 합니다.
* 인덱스의 값 = 인덱스의 라벨이라고 합니다.
* 인덱스 라벨은 정수, 문자열, 날짜, 시간도 가능합니다.

In [ ]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],  # 연속된 데이터 묶음 (리스트, 튜플, 1차원 배열...)
              index=["서울", "부산", "인천", "대구"])# 넣어준 데이터의 길이와 일치하는 인덱스 묶음을 넣으면 
                                                     # 순서대로 짝지어서 데이터가 들어갑니다 
                                                     # 인덱스를 안 넣어주면 range 비슷하게 생성 (길이가 맞춰서)
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

> 시리즈 객체는 s로 설정 (서울~대구)
* 시리즈의 인덱스는 `s.index` 속성으로 접근할 수 있습니다.
* 시리즈의 값들은 `s.values` 속성으로 접근할 수 있습니다.

In [ ]:
s.index, type(s.index)

(Index(['서울', '부산', '인천', '대구'], dtype='object'),
 pandas.core.indexes.base.Index)

In [ ]:
s.values, type(s.values) # numpy.ndarray

(array([9904312, 3448737, 2890451, 2466052]), numpy.ndarray)

* s.name 속성을 이용해서 시리즈 데이터 이름을 붙일 수 있음
* s.index.name 이용해서 시리즈 인덱스의 이름을 붙일 수 있음

In [ ]:
s.name = "인구"
s.index.name = "도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

### 시리즈 연산
* Numpy 배열처럼 벡터화 연산
* 다만 **연산은 시리즈의 '값'에만 적용**되고 인덱스(라벨)에는 물론 적용되지 않습니다.

In [ ]:
s/1_000_000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

### serises 인덱싱 & 슬라이싱

* 시리즈는 numpy 배열에서 가능한 인덱스 방법 (정수 인덱스...) + 인덱스 라벨을 이용한 인덱싱도 할 수 있습니다.
* 배열 인덱싱, 인덱스 라벨을 이용한 슬라이싱 가능합니다.

In [ ]:
s[1] # 1번째 데이터를 호출

3448737

In [ ]:
s['부산'] # '부산' 인덱스 라벨을 가진 데이터를 호출

3448737

In [ ]:
s[3], s['대구']

(2466052, 2466052)

In [ ]:
s[[0, 3, 1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [ ]:
s[["서울", "대구", "부산"]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [ ]:
# 인구가 250만 초과, 500만 미만
s[(s > 250e4)] # e='0의 개수'

도시
서울    9904312
부산    3448737
인천    2890451
Name: 인구, dtype: int64

* 슬라이싱 --> 부분집합
  * 배열 슬라이싱 --> 배열 / 시리즈 슬라이싱 --> 시리즈
  * *문자열 라벨* 이용한 슬라이싱을 하는 경우, **숫자 인덱싱과는 달리 콜론(:) 기호 뒤에 오는 값도 결과에 포함됩니다**

In [ ]:
s[1:3] # 1,2 (3 아니요)

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [ ]:
s['부산':'대구'] # 1,2,3

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [ ]:
# 몇몇 특수문자나 예약어를 건드리지 않으면 문자열로 .을 통해 속성마냥 인덱스 값에 접근
s.부산, s.대구

(3448737, 2466052)

### 시리즈와 딕셔너리 자료형
* 시리즈 = 1차원 배열과 유사
* '인덱스 라벨' = 딕셔너리라고 보는게 맞음
* 딕셔너리(사전형) = 맵(K,V)
* in 연산, items 메서드는 for 루프를 통해 각 원소의 k, v 로 접근할 수 있습니다.

In [ ]:
'서울' in s # 인덱스 라벨 중에 서울이 있는가를 볼 수 있습니다

True

In [ ]:
'제주' in s

False

In [ ]:
# for item in s.items():
# key 키 / value 값
for k,v in s.items():
  #print(item)
    print(f"{k}={v}")

서울=9904312
부산=3448737
인천=2890451
대구=2466052

In [ ]:
s2 = pd.Series({
    "서울": 9631482,
    "부산": 3393191,
    "인천": 2632035,
    "대전": 1490158
    })
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [ ]:
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158},
               index=["부산", "서울", "인천", "대전"])
s2

부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64

## 인덱스 기반 (시리즈 간) 연산
* 시리즈는 value에 한해서 벡터화 연산
* 1차원 배열 --> 시리즈들 간에서도 벡터화 연산
* 인덱스 라벨 일치하는 값들에 한해서 시리즈 간 연산
* NaN

In [ ]:
ds = s - s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [ ]:
s # 서울, 부산, 인천만 공통

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [ ]:
s2 # 대전 있고, 대구 없음

부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64

In [ ]:
s.values - s2.values

array([ 6511121, -6182745,   258416,   975894])

In [ ]:
ds.notnull() # null인 데이터들은 False, not null인 데이터들은 True --> 불리언 배열

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [ ]:
ds[ds.notnull()]

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [ ]:
# 인구 증가율 구하기 (%)
rs = (s - s2) / s2 * 100
rs = rs[rs.notnull()]
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

In [ ]:
rs['대구'] = 1.41
rs

부산    1.636984
서울    2.832690
인천    9.818107
대구    1.410000
dtype: float64

In [ ]:
# 데이터 삭제 : del 명령어 사용합니다.
del rs ['서울']
rs

부산    1.636984
인천    9.818107
대구    1.410000
dtype: float64

## ⛳ 연습문제 1
1. 임의로 두 개의 시리즈 객체를 만든다. 모두 문자열 인덱스를 가져야 하며 두 시리즈에 공통적으로 포함되지 않는 라벨이 있어야 한다.
2. 위에서 만든 두 시리즈 객체를 이용하여 사칙 연산을 한다.

In [ ]:
a = pd.Series([1,2,3,4], index = ['손흥민','황희찬','이강인','황의조'])
a

손흥민    1
황희찬    2
이강인    3
황의조    4
dtype: int64

In [ ]:
b = pd.Series([5,6,7,8], index = ['히샤를리숑','네이마르','이강인','황의조'])
b

히샤를리숑    5
네이마르     6
이강인      7
황의조      8
dtype: int64

In [ ]:
a + b

네이마르      NaN
손흥민       NaN
이강인      10.0
황의조      12.0
황희찬       NaN
히샤를리숑     NaN
dtype: float64

In [ ]:
a - b

네이마르     NaN
손흥민      NaN
이강인     -4.0
황의조     -4.0
황희찬      NaN
히샤를리숑    NaN
dtype: float64

In [ ]:
a * b

네이마르      NaN
손흥민       NaN
이강인      21.0
황의조      32.0
황희찬       NaN
히샤를리숑     NaN
dtype: float64

In [ ]:
a/b

네이마르          NaN
손흥민           NaN
이강인      0.428571
황의조      0.500000
황희찬           NaN
히샤를리숑         NaN
dtype: float64

In [ ]:
a+=b+a
a

손흥민     NaN
황희찬     NaN
이강인    13.0
황의조    16.0
dtype: float64

### 문제의 답

In [ ]:
import numpy as np

In [ ]:
str_idx = ['A', 'B', 'C', 'D', 'E']
get_idx = lambda x: np.random.choice(x, size=3, replace=False)
idx1 = get_idx(str_idx)
idx2 = get_idx(str_idx)
idx1, idx2

(array(['D', 'B', 'C'], dtype='<U1'), array(['B', 'D', 'E'], dtype='<U1'))

In [ ]:
s1 = pd.Series(np.random.randn(3), index=idx1)
s2 = pd.Series(np.random.randn(3), index=idx2)
s1, s2

(D   -0.076720
 B    0.938796
 C    1.480748
 dtype: float64, B    0.853323
 D   -0.290970
 E   -0.987796
 dtype: float64)

In [ ]:
s1 + s2

B    1.792119
C         NaN
D   -0.367690
E         NaN
dtype: float64

In [ ]:
s1 - s2

B    0.085474
C         NaN
D    0.214250
E         NaN
dtype: float64

# 데이터프레임 (DataFrame)

* 시리즈 : 1차원 배열 데이터 + 행방햐야 `인덱스`
* 데이터프레임 : 2차원 배열 데이터 + 행(Row) 방향 `인덱스` + 열(Column) 방향 `인덱스`

### 데이터프레임 생성
1. 하나의 열이 되는 데이터를 리스트나 일차원 배열을 준비합니다)
2. 이 각각의 열에 대한 이름(라벨)을 키로 가지는 딕셔너리를 생성합니다
3. 이 데이터를 `pd.DataFrame` 생성자에 넣습니다. 동시에 열 방향 인덱스는 `columns` 인수로, 행방향 인덱스는 `indes` 인수로 지정합니다.

In [ ]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

* 데이터 프레임과 2차원 배열과 유사합니다.
* 공통 인덱스(행)를 가지는 열(column) 시리즈를 딕셔너리로 묶어 놓은 것
* 각 열마다 자료형이 다를 수 있음 --> 2차원 배열이라 보기엔 무리

In [ ]:
df.지역.dtype, df['2015'].dtype, df['2010-2015 증가율'].dtype

(dtype('O'), dtype('int64'), dtype('float64'))

* `df.values` : 데이터만 접근하고 싶을 때 사용
* `df.columns` : 컬럼(열) 이름 = 열방향 인덱스
* `df.index` : 행 이름 = 행방향 인덱스

In [ ]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [ ]:
df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [ ]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [ ]:
# 시리즈처럼 열방향 인덱스와 행방향 인덱스에 '이름'을 붙일 수 있음
df.index.name = '도시'
df.columns.name = '특성'

In [ ]:
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

## ⛵ 연습문제 2
다음 조건을 만족하는 임의의 데이터프레임을 하나 만든다.
1. 열의 갯수와 행의 갯수가 각각 5개 이상이어야 한다.
1. 열에는 정수, 문자열, 실수 자료형 데이터가 각각 1개 이상씩 포함되어 있어야 한다.

### 문제풀이

In [ ]:
data = {
    "희귀병 환자 수": ["1형당뇨", "마들룽", "백색증", "간질"],
    '2001': [1, 2, 3, 4],
    "2002": [10, 100, 1000, 1000],
    "2003": [976, 3547, 2580, 246],
    "2004": [92, 337, 2438, 2490],
    "2001-2004 증가율": [0.028, 0.013, 0.082, 0.011]}
columns = ["희귀병 환자 수", "2001", "2002", "2003", "2004", "2001-2004 증가율"] 
index = ["췌장", "지방대사", "DNA", "뇌"]
b = pd.DataFrame(data, index=index, columns=columns)
b

     희귀병 환자 수  2001  2002  2003  2004  2001-2004 증가율
췌장       1형당뇨     1    10   976    92          0.028
지방대사      마들룽     2   100  3547   337          0.013
DNA       백색증     3  1000  2580  2438          0.082
뇌          간질     4  1000   246  2490          0.011

In [ ]:
a.values

array([[nan, 1, 10, 976, 92, 0.028],
       [nan, 2, 100, 3547, 337, 0.013],
       [nan, 3, 1000, 2580, 2438, 0.082],
       [nan, 4, 10000, 246, 2490, 0.011]], dtype=object)

### 데이터 프레임 전치

In [ ]:
arr = np.arange(10).reshape(5, 2)
arr, arr.shape # 5x2 -> 2x5

(array([[0, 1],
        [2, 3],
        [4, 5],
        [6, 7],
        [8, 9]]), (5, 2))

In [ ]:
arr.T # 2x5 # 2차원 배열, 행열의 전치

array([[0, 2, 4, 6, 8],
       [1, 3, 5, 7, 9]])

In [ ]:
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [ ]:
df.T

도시                  서울       부산       인천       대구
특성
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

### 열 데이터의 갱신, 추가, 삭제
* 데이터프레임 = 열 시리즈의 딕셔너리로 볼 수 있으므로, key -> value => 갱신, 추가, 삭제...
* 열 단위로 데이터를 갱신하거나 추가, 삭제

In [ ]:
df['2010-2015 증가율'] = df['2010-2015 증가율'] * 100
df # 2010-2015 증가율 키, 이름, 라벨을 가진 열을 수정(갱신)

특성   지역     2015     2010     2005     2000  2010-2015 증가율  2005-2010 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972      2830000.0      9631382.0
부산  경상권  3448737  3393191  3512547  3655437      1630000.0      3393091.0
인천  수도권  2890451  2632035  2517680  2466338      9820000.0      2631935.0
대구  경상권  2466052  2431774  2456016  2473990      1410000.0      2431674.0

### CRUD
C : Create - 생성

R : Read - 읽기

U : Update - 수정, 갱신

D : Delete - 삭제

In [ ]:
# (2010 - 2005/2005) 100% 단위로 환산 --> 소수점 2번째 자리까지 반올림
df["2005-2010 증가율"] = ((df["2010"]-df["2005"])/df["2005"]*100).round(2)

In [ ]:
df

NameError: ignored

In [ ]:
# 삭제
del df["2010-2015 증가율"]
df

### 열 인덱싱
* 데이터프레임 = 딕셔너리 + 배열
* 열 라벨을 키로, 열 시리즈를 값으로 가지고 있는 딕셔너리와 유사
* 데이터프레임 -> 인덱싱 => 열 라벨(column label)을 키값으로 생각해서 인덱싱을 할 수가 있음
* 인덱스로 라벨 값을 하나만 넣으면 -> 시리즈 객체
* 인덱스로 여러 라벨(배열, 리스트) -> 부분적인 데이터프레임

In [ ]:
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [ ]:
df['지역'] # 하나의 열만 인덱싱 -> 시리즈 반환
type(df['지역'])

pandas.core.series.Series

In [ ]:
# 하나의 열만 빼내면서 df 자료형을 유지하고 싶다?
# df[['열 이름']]
df[['지역']]

     지역
서울  수도권
부산  경상권
인천  수도권
대구  경상권

* 데이터프레임의 열 인덱스가 문자열 라벨을 가지고 있는 경우에는 
**숫자를 나타내는 정수 인덱스**를 열 인덱싱에 사용할 수 없습니다.
정수 인덱싱의 슬라이스는 행(row)을 인덱싱할 때 사용하므로 열을 인덱싱할 때는 쓸 수 없다 (KeyError)

### 추가진도) 파이썬 예외처리

프로그래밍 --> 버그
버그가 일어날 때 프로그램 --> stop --> 사고남

* 예외처리 -> try ~ except 문법

In [ ]:
try:
  pass # 버그가 발생할 수도 있는 실행
  1/0 # zero divine
except:
  pass # 버그가 발생했을 때 처리해줄 내용
  print('버그가 일어났네요!')

버그가 일어났네요!

In [ ]:
import numpy as np

In [ ]:
try:
  n = np.random.randint(1)
  print(n)
  if n ==0: 
      raise Exception('따란!') # 일부러 에러 발생 (raise)
  print('정상 작동')
except:
  print("버그 발생")
finally:
  print("상관없이 무조건 실행")

0
버그 발생
상관없이 무조건 실행

In [ ]:
try:
  n = np.random.randint(1)
  print(n)
  if n ==0: 
      1/0
      raise Exception('따란!') # 일부러 에러 발생 (raise)
  print('정상 작동')
except ZeroDivision as e:
  print("1/0발생")

except Exception as e : # e라는 이름으로 에러(Exception)를 처리
  print("버그 발생")
  print(e)
finally:
  print("상관없이 무조건 실행")

0
상관없이 무조건 실행

NameError: ignored

In [ ]:
# 예외처리 : 의도한 혹은 의도치 않은 에러를 어떻게 처리할지 결정합니다. 조건문과 유사합니다.

try: # --> 도전!
  #df[0] # 실행문! # KeyError
  1/0
except:
  print('어 에러났네')
#finally:
 # print('그래도 이건 못참지!')

어 에러났네

In [ ]:
w = 0
while True:
    try:
        pass # 크롤링 코드
        print(w)
        if w == 10:
            print(1 / 0)
    except:
        print('버그가 났지만 우린 괜찮아!')
    w += 1
    if w == 100:
        print('와 다 돌렸다!')
        break

0
1
2
3
4
5
6
7
8
9
10
버그가 났지만 우린 괜찮아!
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
와 다 돌렸다!

In [ ]:
def ten_div(x):
  return 10/x

In [ ]:
ten_div(2)

5.0

##슬라이싱

In [ ]:
try:
    df[0] # 0 이라고 하는 이름의 열은 없다
# except:
except Exception as e: # 발생되는 에러에 대한 정보를 Exception -> e
    print(type(e)) # 에러 클래스 / 타입
    # KeyError -> 잘못된 키, 없는 키로 호출하고 있어
    print(e) # 에러 메시지
    # 0 -> 0라고 하는 키를 넣었는데 이거 없어

<class 'KeyError'>
0

## 열 인덱싱 ep2

In [ ]:
df2 = pd.DataFrame(np.arange(12).reshape(3, 4)) # 2차원 배열 (행렬) -> df
df2 # 자동으로 행/열 인덱스 -> 정수인덱스

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
df2[[1,2]] # 정수 열 인덱스

   1   2
0  1   2
1  5   6
2  9  10

## 행 인덱싱
* 만약 행 단위로 인덱싱을 하고자 하면 항상 슬라이싱(slicing)을 해야함
* 인덱스의 값이 문자 라벨이면 라벨 슬라이싱도 가능 (시리즈에서 문자 슬라이싱)

In [ ]:
df[0:1] # df[0:1] <= 1이 제외됩니다

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283

In [ ]:
df[1:2]

    국어  영어  수학       평균점수
몽룡  90  70  60  73.333333

In [ ]:
df['서울':'부산'] # 정수 인덱싱 -> 끝이 제외, 문자열 인덱싱 -> 끝이 포함

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163

In [ ]:
df['서울':'서울']

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283

### 개별 데이터 인덱싱
* 데이터프레임에서 열라벨(1개)로 열을 인덱싱하면 시리즈가 됩니다.
이 시리즈를 다시 행 라벨로 인덱싱하면 개별 데이터가 나옵니다.

In [ ]:
df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [ ]:
df['2015']

서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 2015, dtype: int64

In [ ]:
# df['2015']
df['2015']['서울']

9904312

### 데이터 프레임 인덱싱 방법 정리
|인덱싱 값|가능|결과|자료형|추가사항|
|:-|:-|:-|:-|:-|
|라벨|O|열|시리즈||
|라벨 리스트|O|열|데이터프레임||
|인덱스 데이터 (정수)|X|||열 라벨이 정수인 경우에는 라벨 인덱싱으로 인정|
|인덱스 데이터(정수) 슬라이스|O|행|데이터프레임|텍스트일 경우, 끝값이 포함(문자열일 경우에는 앞뒤 반복)|

## ⛄ 연습문제 3
```
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
```
1. 모든 학생의 수학 점수를 시리즈로 나타낸다.
1. 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
1. 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
1. 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.
1. 춘향의 점수를 데이터프레임으로 나타낸다.
1. 향단의 점수를 시리즈로 나타낸다.

### 문제 풀이 1~6

In [ ]:
data = {"국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)

In [ ]:
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [ ]:
math1 = pd.Series([90,60,80,70], index = ['춘향','몽룡','향단','방자'])
math1

춘향    90
몽룡    60
향단    80
방자    70
dtype: int64

In [ ]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
}
c = ["국어", "영어"]
i = ["춘향", "몽룡", "향단", "방자"]
k_e = pd.DataFrame(data, index=i, columns=c)
k_e

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [ ]:
data = {"국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
    "평균점수" : [np.mean([90,80,90]), np.mean([90,70,60]), np.mean([70,60,80]), np.mean([30,40,70])]
    }
columns = ["국어", "영어", "수학", "평균점수"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)

In [ ]:
df

    국어  영어  수학       평균점수
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  40  70  46.666667

In [ ]:
data = {"국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 80],
    "수학": [90, 60, 80, 70],
    "평균점수" : [np.mean([90,80,90]), np.mean([90,70,60]), np.mean([70,60,80]), np.mean([30,80,70])]
    }
columns = ["국어", "영어", "수학", "평균점수"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    국어  영어  수학       평균점수
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  80  70  60.000000

In [ ]:
df[0:1]

    국어  영어  수학       평균점수
춘향  80  90  90  86.666667

In [ ]:
df['향단':'향단']

    국어  영어  수학  평균점수
향단  70  60  80  70.0

### 해설

In [ ]:
#1 시리즈로 나타내기
df.수학
df['수학']

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [ ]:
#2 국어, 영어를 데이터 프레임으로 나타내기
df[['국어','영어']] # 라벨 리스트 : 1개 이상의 라벨이 포함된 리스트를 [] 넣게 되면 데이터프레임이 된다

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  80

In [ ]:
df[['국어']]

    국어
춘향  80
몽룡  90
향단  70
방자  30

In [ ]:
#3. 각 과목 평균 점수를 열로 추가하기
df['평균']= (df['국어']+df['수학']+df['영어'])/3
df

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  40  70  46.666667

In [ ]:
#4. 방자의 영어점수 80점으로 수정하고, 평균 다시 나타내기
df['영어']['방자'] = 80
df['평균']= (df['국어']+df['수학']+df['영어'])/3  # 오류는 뜨지만 무시합니다
df

<ipython-input-156-f07f7c922e42>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['영어']['방자'] = 80

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  80  70  60.000000

In [ ]:
#5. 춘향의 데이터를 데이터프레임으로 나타내기
df[0:1]
df['춘향':'춘향']

    국어  영어  수학         평균
춘향  80  90  90  86.666667

In [ ]:
#6. 향단의 데이터를 시리즈로 나타내기
# 열을 인덱싱하면 시리즈가 나옵니다
# 향단 행 -> 향단 열
df.T.향단

국어    70.0
영어    60.0
수학    80.0
평균    70.0
Name: 향단, dtype: float64

# 데이터 입출력
* 지금까지는 직접 데이터를 입력해주어서 데이터프레임을 생성했었습니다
* 대부분 우리가 분석할 데이터는 이미 존재하는 파일에서 불러옵니다.

* 어떻게 불러올 것인가? + 어떻게 파일로 저장할 것인가?

In [ ]:
# 샘플 데이터 만들기
# , 콤마로 구분된 value --> csv
%%writefile sample1.csv
c1,c2,c3
1,1.11,one
2,2.22,two
3,3.33,three

Writing sample1.csv

In [ ]:
pd.read_csv('sample1.csv')

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [ ]:
%%writefile sample2.csv
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample2.csv

In [ ]:
# 열을 안 준 데이터는 맨 첫줄 열이 됩니다.
pd.read_csv('sample2.csv')
names = columns
pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3'])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [ ]:
# 테이블의 특정 행을 행 인덱스로 지정하고 싶으면
# index_col (index_column) 인수를 사용
pd.read_csv('sample1.csv', index_col='c1') # 지정해서 인덱스로 쓰고 싶다

      c2     c3
c1
1   1.11    one
2   2.22    two
3   3.33  three

In [ ]:
# read_(확장자? 포맷) --> to_(확장자|포맷)
# read_csv (df) --> (df) to_csv
df = pd.read_csv('sample1.csv')
df['c4'] = df['c1'] + df['c2']
df.to_csv('sample3.csv')

In [ ]:
!cat sample3.csv

,c1,c2,c3,c4
0,1,1.11,one,2.1100000000000003
1,2,2.22,two,4.220000000000001
2,3,3.33,three,6.33

In [ ]:
df.to_excel('dev.xlsx')

In [ ]:
df2 = pd.read_excel('dev.xlsx',index_col=0)
df2

   c1    c2     c3    c4
0   1  1.11    one  2.11
1   2  2.22    two  4.22
2   3  3.33  three  6.33

## 인터넷 상의 CSV 파일 입력
* 웹상에는 다양한 데이터 파일이 CSV 파일 형태로 제공
* read_csv 명령 사용시 파일 패스 대신 URL을 지정하면 Pandas가 직접 해당 파일을 다운로드하여 읽어들임

In [ ]:
url = 'https://raw.githubusercontent.com/bigdata-young/ai_26th/main/data/titanic.csv'
df = pd.read_csv(url)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

* 데이터의 수가 많을 경우, 데이터프레임의 표현(representation)은 데이터 앞, 뒤의 일부분만 보여줍니다
* 보여줄 행의 수는 `display.max_rows` 옵션으로 정할 수 있습니다

In [ ]:
pd.set_option("display.max_rows", 20)  # 앞뒤로 모두 20행만 보여준다.
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df.head() # 위로부터 5개의 데이터
df.head(10) # df.head(n)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.tail() # 아래로부터 5개의 데이터
df.tail(10) # df.tail(n) : 아래로부터 10개의 데이터

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## 👏 데이터프레임 고급 인덱싱
 [ ] : 라벨 인덱스 <br>
.메소드[ ] : 인덱서 

* 인덱싱(indexing) : 데이터프레임에서 특정한 데이터만 골라내는 것
 * 라벨, 라벨 리스트, 인덱스데이터(정수) 슬라이스의 3가지 인덱싱 값을 사용하여 인덱싱
* 그런데 Pandas는 Numpy 행렬과 같이 쉼표를 사용한 (행 인덱스, 열 인덱스) 형식의

 2차원 인덱싱을 지원하기 위해 다음과 같은 특별한 인덱서(indexer) 속성도 제공
* `loc` : 라벨값 기반의 2차원 인덱싱
* `iloc` : 순서를 나타내는 정수 기반의 2차원 인덱싱

## `loc` 인덱서
```
df.loc[행 인덱싱 값]
df.loc[행 인덱싱 값, 열 인덱싱 값]
```
* 행 인덱싱 값 : 정수 또는 행 인덱스 데이터
* 열 인덱싱 값 : 라벨 문자열
---
* 인덱스 데이터
* 인덱스 데이터 슬라이스
* 인덱스 데이터 리스트
* 같은 행 인덱스를 가지는 불리언 시리즈 (행 인덱싱의 경우)
* 위의 값들을 반환하는 함수

In [ ]:
df.loc # loc는 행 인덱싱으로 시작합니다.
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

### 인덱싱 값을 하나만 받는 경우
* 만약 loc 인덱서를 사용하면서 인덱스를 하나만 넣으면 행(row)을 선택

In [ ]:
# df.loc() X
df.loc["a"] # 시리즈로 출력 (전치할 필요 없음)

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [ ]:
# 인덱스 데이터의 슬라이스도 가능
df.loc["b":"c"] # 문자열 -> 끝이 포함이 된다

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [ ]:
df["b":"c"] # 비슷한 역할

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [ ]:
# 인덱스데이터의 리스트도 됨
df.loc[["b", "c"]]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [ ]:
# 이 때는 loc를 쓰지 않으면 KeyError 오류가 발생
try:
    df[["b", "c"]] # 열을 호출해줘야하는데 왜 없는거 호출하시나요?
except Exception as e:
    print(type(e))
    print(e)

<class 'KeyError'>
"None of [Index(['b', 'c'], dtype='object')] are in the [columns]"

In [ ]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [ ]:
# 데이터베이스와 같은 인덱스를 가지는 불리언 시리즈도 행을 선택하는 인덱싱값으로 쓸 수 있음
# 원본에서 파생된 (연산된) 시리즈를 인덱싱 값 -> 벡터화 연산 비교, 논리, ... -> 불리언 배열 -> 인덱싱
# -> 필터링 (Numpy? Series? DataFrame -> loc)
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [ ]:
df.loc[df.A > 15] # A 열이 15보다 큰 행만 필터링해주세요
df.loc[df.A < 15] # A 열이 15보다 작은 행만 필터링해주세요

    A   B   C   D
c  18  19  20  21

In [ ]:
# 인덱스 대신 인덱스 값을 반환하는 함수를 사용할 수도 있음
def select_rows(df):
    return df.A > 15

In [ ]:
select_rows(df)

a    False
b    False
c     True
Name: A, dtype: bool

In [ ]:
df.loc[select_rows(df)]

    A   B   C   D
c  18  19  20  21

In [ ]:
# 기본 인덱스에서 사용했던 라벨 인덱싱이나 라벨 리스트 인덱싱은 불가능
# 열을 가지고 사용해줄 수가 없다 (loc 떼고 기본 인덱스로 처리를 해라)
try:
    df.loc["A"]
except Exception as e:
    print(type(e))
    print(e)

<class 'KeyError'>
'A'

In [ ]:
try:
    df.loc[["A", "B"]] # 행! a, b, c... A? B?
except Exception as e:
    print(type(e))
    print(e)

<class 'KeyError'>
"None of [Index(['A', 'B'], dtype='object')] are in the [index]"

In [ ]:
# 원래 (행) 인덱스값이 정수인 경우에는 슬라이싱도 라벨 슬라이싱 방식을 따르게 됨
# 즉, 슬라이스의 마지막 값이 포함 -> 정수더라도 loc에서는 라벨 슬라이싱
df2 = pd.DataFrame(np.arange(10, 26).reshape(4, 4),
                   columns=["A", "B", "C", "D"])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [ ]:
df2[1:2] # 기본 인덱싱 - 2 제외

    A   B   C   D
1  14  15  16  17

In [ ]:
df2.loc[1:2]

    A   B   C   D
1  14  15  16  17
2  18  19  20  21

|인덱싱 값|가능|결과|자료형|추가사항|
|:-|:-|:-|:-|:-|
|행 인덱스 값( 정수)|O|행|시리즈|
|행 인덱스 값 (정수) 슬라이스|O|행|데이터프레임|`loc`가 없는 경우와 같음|
|행 인덱스 값 (정수) 리스트|O|행|데이터프레임|
|불리언 시리즈|O|행|데이터프레임|시리즈의 인덱스가 데이터프레임의 행 인덱스와 같아야 함|
|불리언 시리즈를 반환하는 함수|O|행|데이터프레임
|열 라벨|X|||loc가 없는 경우에만 쓸 수 있음|
|열 라벨 리스트|X|||loc가 없는 경우에만 쓸 수 있음|

### 인덱싱 값을 행과 열 모두 받는 경우
* `df.loc[행 인덱스, 열 인덱스]`와 같은 형태로 사용

In [ ]:
df['A']['a'] # 열 인덱스 (시리즈) / 행 인덱스 (개별값)

10

In [ ]:
df.loc["a", "A"] # 행 인덱스, 열 인덱스
df.loc["a"]

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [ ]:
# 인덱싱값으로 라벨 데이터의 슬라이싱 또는 리스트를 사용할 수도 있음
df.loc[:, "A"] # : -> 슬라이스
df.loc["b":, "A"] # : -> 슬라이스
df.loc["b":"c", "A"] # : -> 슬라이스

b    14
c    18
Name: A, dtype: int64

In [ ]:
df.loc["a", :]

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [ ]:
df.loc[["a", "b"], ["B", "D"]]

    B   D
a  11  13
b  15  17

In [ ]:
# 행 인덱스가 같은 불리언 시리즈나 이러한 불리언 시리즈를 반환하는 함수도 행의 인덱싱값이 될 수 있음
df.loc[df.A > 10, ["C", "D"]]

    C   D
b  16  17
c  20  21

## `iloc` 인덱서
* `iloc` 인덱서는 `loc` 인덱서와 달리 라벨이 아니라 순서를 나타내는 정수(integer) 인덱스만 받음 (다른 사항은 `loc`와 동일)

In [ ]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [240]:
df.iloc[0, 1] # numpy? 왜 정수 인덱스 안 씀요
# ( ) -> [ ] = 인덱서니까!

11

In [241]:
df.iloc[:2, 2] # 정수 인덱싱 -> 라벨 인덱싱... 끝값 제외

a    12
b    16
Name: C, dtype: int64

In [238]:
df.iloc[0, -2:]

C    12
D    13
Name: a, dtype: int64

In [239]:
df.iloc[2:3, 1:3]

    B   C
c  19  20

In [242]:
# loc 인덱서와 마찬가지로 인덱스가 하나만 들어가면 행을 선택
df.iloc[-1] # df.iloc[행 정수 인덱스] / df.iloc[행 정수 인덱스, 열 정수 인덱스]

A    18
B    19
C    20
D    21
Name: c, dtype: int64

In [243]:
df.iloc[-1] = df.iloc[-1] * 2
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  36  38  40  42

## 🦆 연습문제 4
1. 모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.
1. 10가지 이상의 방법으로 특정한 행과 열을 선택한다.

## 연습문제풀이

In [244]:
df = pd.DataFrame({
    "A": np.random.randint(5, size=5),
    "B": np.random.randint(5, size=5),
    "C": np.random.randint(5, size=5),
    "D": np.random.randint(5, size=5),
    "E": np.random.randint(5, size=5)
}, index=['a', 'b', 'c', 'd', 'e'])
df #1

   A  B  C  D  E
a  3  1  0  0  3
b  1  4  2  2  1
c  0  3  0  3  2
d  1  4  1  4  1
e  1  4  0  2  2

In [245]:
df['A']
df[['A', 'C']]
df[['A']]
df[:1]
df[1:2]
df[1:3]
df['a':'b']
df['A']['a']
df.loc['a']
df.loc['b':'c']
df.loc[['d','e']]
df.loc[df.A <=2]
fun = lambda x: x.E >=3
df.loc[fun(df)]
df.loc["a", "A"]
df.loc["b":,"A"]
df.loc["a",:]
df.loc[["a", "b"], ["B", "D"]]
df.loc[df.A > 2, ["C", "D"]]
df.iloc[0, 1]
df.iloc[:2, 2]
df.iloc[0, -2:]
df.iloc[2:3, 1:3]
df.iloc[-1]

A    1
B    4
C    0
D    2
E    2
Name: e, dtype: int64