<a href="https://colab.research.google.com/github/dla9944/apatheia/blob/main/221208_chapter2_pandas2ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏóêÏÑúÏùò Îç∞Ïù¥ÌÑ∞ Ï°∞Ïûë(Ï≤òÎ¶¨)
= ÌÜµÍ≥Ñ, Ï†ïÎèà, Ï†ïÎ¶¨ÏôÄ Í∞ôÎã§

* pandasÎäî Numpy 2Ï∞®Ïõê Î∞∞Ïó¥ÏóêÏÑú Í∞ÄÎä•Ìïú ÎåÄÎ∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞ Ï≤òÎ¶¨
  + pandas ÎßåÏùò Îç∞Ïù¥ÌÑ∞ Ï≤òÎ¶¨ Î∞è Î≥ÄÌôò Í¥ÄÎ†® Ìï®Ïàò/Í∏∞Îä•Îì§ÏùÑ Ï†úÍ≥µ

##Îç∞Ïù¥ÌÑ∞ Í∞ØÏàò ÏÑ∏Í∏∞

### ÏãúÎ¶¨Ï¶à Í∞ØÏàò ÏÑ∏Í∏∞ s.count() 
: series.count( ) : Í≤∞Ï∏°Ïπò(nan)ÏùÑ ÎπºÍ≥† ÏÑ∏Ï§çÎãàÎã§.

In [ ]:
s = pd.Series(range(10))

In [ ]:
s[3] = np.nan # nan : Í≤∞Ï∏°Ïπò. Ï∏°Ï†ïÏùÑ ÌñàÎäîÎç∞ Í≤∞Ïó¨Îêú Í∞í
s

0    0.0
1    1.0
2    2.0
3    NaN
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [ ]:
s.count()

9

In [ ]:
s2 = pd.Series(range(10))
s2.count()

10

### Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Í∞ØÏàò ÏÑ∏Í∏∞ df.count(axis=0)

* NaNÏù¥ float ÌÉÄÏûÖ
* dtype = ÏßÅÏ†ë ÌÉÄÏûÖÏùÑ ÎÑ£Ïñ¥Ï£ºÏñ¥ÏÑú ÏßÄÏ†ïÌï©ÎãàÎã§ ('i', 'f'...)

In [ ]:
np.random.seed(8)
df = pd.DataFrame(np.random.randint(5, size=(4,4), dtype=int))
# dtype Ïù¥ intÏù∏ 4 x 4 Ïùò Î∞∞Ïó¥Î°ú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ Ï†úÏûëÌï©ÎãàÎã§
# dtype = ÏßÅÏ†ë ÌÉÄÏûÖÏùÑ ÎÑ£Ïñ¥Ï§òÏÑú ÏßÄÏ†ïÌï©ÎãàÎã§.
df

   0  1  2  3
0  3  4  1  1
1  2  0  3  0
2  0  4  1  3
3  2  3  4  1

In [ ]:
df[3][2] # Í∏∞Î≥∏ Ïù∏Îç±Ïã±

3

In [ ]:
df.loc[2,3] # loc

3

In [ ]:
df.iloc[2,3] # iloc - ÏàúÏÑúÏóê Í∏∞Î∞òÌïú Ï†ïÏàò Ïù∏Îç±Ïä§Î°ú Î∂ÄÏó¨ (iloc, loc Í≤∞Í≥º Í∞ôÏùå)

3

In [ ]:
df.iloc[2,3] = np.nan # Í∞±Ïã†, ÎåÄÏûÖ
df

   0  1  2    3
0  3  4  1  1.0
1  2  0  3  0.0
2  0  4  1  NaN
3  2  3  4  1.0

In [ ]:
df.count()

0    4
1    4
2    4
3    3
dtype: int64

In [ ]:
df.columns = ['A','B','C','D']
df

   A  B  C    D
0  3  4  1  1.0
1  2  0  3  0.0
2  0  4  1  NaN
3  2  3  4  1.0

In [ ]:
df.count() # Ïó¥ Ïù¥Î¶ÑÎåÄÎ°ú

A    4
B    4
C    4
D    3
dtype: int64

In [ ]:
df.count(axis=1) # Ìñâ Î∞©Ìñ•ÏúºÎ°ú count

0    4
1    4
2    3
3    4
dtype: int64

### seaborn <ÌååÏù¥Ïç¨ Ìå®ÌÇ§ÏßÄ>

* Î∂ÑÏÑùÌï† Îïå ÏÇ¨Ïö©ÌïòÎäî Îç∞Ïù¥ÌÑ∞ ÏãúÍ∞ÅÌôî Í¥ÄÎ†® Ìå®ÌÇ§ÏßÄ
üõ¨ Îç∞Ïù¥ÌÑ∞ÏÑ∏Ìä∏ ÎÇ¥Ïû•

In [ ]:
import seaborn as sns # Îç∞Ïù¥ÌÑ∞ ÏãúÍ∞ÅÌôî Ìå®ÌÇ§ÏßÄ

In [ ]:
titanic = sns.load_dataset('titanic') # pd.read_csv... url...
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
titanic.head() # ÏÉÅÏúÑ 5Í∞ú

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
titanic.tail() # ÌïòÏúÑ 5Í∞ú

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
titanic.describe() # ÌÜµÍ≥ÑÍ∞í --> Í≥ÑÏÇ∞Í∞ÄÎä•Ìïú Ïà´ÏûêÎì§Î°ú Íµ¨ÏÑ±Îêú Í∞íÎì§Ïóê ÎåÄÌïú ÌÜµÍ≥ÑÍ∞í
# --> Ïó∞ÏÜçÌòï Î≥ÄÏàò

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
titanic.describe(include='O') # Î≤îÏ£ºÌòï Î≥ÄÏàòÏóê ÎåÄÌïú ÌÜµÍ≥ÑÍ∞í

         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549

In [ ]:
titanic.describe(include='all') # Î≤îÏ£ºÌòï Î≥ÄÏàòÏóê ÎåÄÌïú ÌÜµÍ≥ÑÍ∞í

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
count,891.000000,891.000000,891,714.000000,891.000000,891.000000,891.000000,889,891,891,891,203,889,891,891
unique,NaN,NaN,2,NaN,NaN,NaN,NaN,3,3,3,2,7,3,2,2
top,NaN,NaN,male,NaN,NaN,NaN,NaN,S,Third,man,True,C,Southampton,no,True
freq,NaN,NaN,577,NaN,NaN,NaN,NaN,644,491,537,537,59,644,549,537
mean,0.383838,2.308642,NaN,29.699118,0.523008,0.381594,32.204208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.486592,0.836071,NaN,14.526497,1.102743,0.806057,49.693429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,1.000000,NaN,0.420000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.000000,2.000000,NaN,20.125000,0.000000,0.000000,7.910400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,0.000000,3.000000,NaN,28.000000,0.000000,0.000000,14.454200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.000000,3.000000,NaN,38.000000,1.000000,0.000000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.000000,3.000000,NaN,80.000000,8.000000,6.000000,512.329200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## üêà Ïó∞Ïäµ Î¨∏Ï†ú1
* ÌÉÄÏù¥ÌÉÄÎãâ ÏäπÍ∞ù Îç∞Ïù¥ÌÑ∞Ïùò Îç∞Ïù¥ÌÑ∞ Í∞úÏàòÎ•º Í∞Å Ïó¥ÎßàÎã§ Íµ¨Ìï¥Î≥¥ÏãúÏò§.

In [ ]:
titanic.count()

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

In [ ]:
titanic.count(0)

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

### Î≤îÏ£º(Ïπ¥ÌÖåÍ≥†Î¶¨) Í∞í ÏÑ∏Í∏∞
* ÏãúÎ¶¨Ï¶àÏùò Í∞íÏù¥ Ï†ïÏàò, Î¨∏ÏûêÏó¥, Ïπ¥ÌÖåÍ≥†Î¶¨ Í∞íÏù∏ Í≤ΩÏö∞ÏóêÎäî `value_counts` Î©îÏÜåÎìúÎ°ú Í∞ÅÍ∞ÅÏùò Í∞íÏù¥ ÎÇòÏò® ÌöüÏàòÎ•º ÏÖÄ Ïàò ÏûàÏäµÎãàÎã§.

In [ ]:
np.random.seed(8)
s2 = pd.Series(np.random.randint(6, size=100))
s2

0     3
1     4
2     1
3     1
4     5
     ..
95    4
96    0
97    1
98    3
99    2
Length: 100, dtype: int64

In [ ]:
s2.value_counts() # (1) Ï§ëÎ≥µÎêòÏßÄ ÏïäÎäî Í∞íÎì§Îßå Ï∂îÎ†§ÎÇ¥ÏÑú (2) Í∞Å Í∞íÎì§Ïùò Í∞ØÏàòÎ•º Ïπ¥Ïö¥ÌåÖ

3    20
2    19
1    16
5    16
4    15
0    14
dtype: int64

In [ ]:
df['A'].value_counts() # df[Ïó¥Ïù¥Î¶Ñ].value_counts : Í≥†Ïú†Ìïú Í∞íÎì§ > Ïπ¥Ïö¥Ìä∏Ìï©ÎãàÎã§

2    2
3    1
0    1
Name: A, dtype: int64

In [ ]:
# Í≥†Ïú†Í∞í Î∞∞Ïó¥ set
s2.unique() # Í≥†Ïú†Í∞í Î∞∞Ïó¥ÏùÑ Î¶¨ÌÑ¥

array([3, 4, 1, 5, 2, 0])

In [ ]:
s2.nunique() # Í≥†Ïú†Í∞íÏùò Í∞ØÏàòÎ•º Î¶¨ÌÑ¥

6

## Îç∞Ïù¥ÌÑ∞ Ï†ïÎ†¨ (sort)
Îç∞Ïù¥ÌÑ∞Î•º Ï†ïÎ†¨ÌïòÎ†§Î©¥ `sort_index` ÎòêÎäî `sort_values`Î•º ÏÇ¨Ïö©

* `sort_index` : Ïù∏Îç±Ïä§ Í∞íÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨ (Ï†ïÏàòÎÉê ÎùºÎ≤®Ïù¥ÎÉê Î¨∏ÏûêÏó¥Ïù¥ÎÉê)
* `sort_values` : Îç∞Ïù¥ÌÑ∞ Í∞í Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨.

> Ïò§Î¶ÑÏ∞®Ïàú ‚Üí ÌñâÏù¥ ÎäòÏñ¥ÎÇòÎäî Î∞©Ìñ• ‚Üí Îç∞Ïù¥ÌÑ∞Í∞Ä Ïª§ÏßÄÎäî Î∞©Ìñ•ÏùÑ ÏùºÏπòÏãúÏºú Ï£ºÍ≤†Îã§
>> ascending


> ÎÇ¥Î¶ºÏ∞®Ïàú ‚Üí Îç∞Ïù¥ÌÑ∞Í∞Ä ÎÇòÏó¥ÎêòÎäî Î∞©Ìñ• ‚Üí Îç∞Ïù¥ÌÑ∞Í∞Ä Ïª§ÏßÄÎäî Î∞©Ìñ•ÏùÑ Î∞òÎåÄÎ°ú ÌïòÍ≤†Îã§.
>>descending

In [ ]:
s2.value_counts() # Ïù∏Îç±Ïä§Í∞Ä ÏßÄÎ©ãÎåÄÎ°ú, Í∞íÍ∏∞Ï§ÄÏúºÎ°ú ÎÇ¥Î¶ºÏ∞®Ïàú

3    20
2    19
1    16
5    16
4    15
0    14
dtype: int64

In [ ]:
s2.value_counts().sort_index() # Ïò§Î¶ÑÏ∞®Ïàú. Ïù∏Îç±Ïä§

0    14
1    16
2    19
3    20
4    15
5    16
dtype: int64

In [ ]:
#Ïò§Î¶ÑÏ∞®Ïàú
s2.value_counts().sort_index(ascending = True)

0    14
1    16
2    19
3    20
4    15
5    16
dtype: int64

In [ ]:
#ÎÇ¥Î¶ºÏ∞®Ïàú
s2.value_counts().sort_index(ascending = False)

5    16
4    15
3    20
2    19
1    16
0    14
dtype: int64

In [ ]:
s.sort_values() # NaN Í∞ÄÏû• Î∞ëÏúºÎ°ú ÎÇ¥Î†§Í∞ê (na_position=last)
s.sort_values(na_position='first') # NaNÏù¥ Í∞ÄÏû• ÏúÑÎ°ú Ïò¨ÎùºÍ∞ê

3    NaN
0    0.0
1    1.0
2    2.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [ ]:
df

   0  1  2  3
0  3  4  1  1
1  2  0  3  0
2  0  4  1  3
3  2  3  4  1

### Ïó¥Ïùò ÎùºÎ≤®ÏùÑ byÎ°ú ÏßÄÏ†ï

In [ ]:
# Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùò Í≤ΩÏö∞ÏóêÎäî sort_values ÌïòÍ≥† Ïã∂ÏúºÎ©¥ Í∏∞Ï§ÄÏù¥ ÎêòÎäî Ïó¥Ïùò ÎùºÎ≤®(Ïù¥Î¶Ñ)ÏùÑ byÎ°ú ÏßÄÏ†ïÌï¥Ïïº Ìï©ÎãàÎã§.
#df.sort_values()
# Ï†ïÎ†¨ÏùÑ ÌïòÍ≥† Ïã∂ÏúºÎ©¥ Í∏∞Ï§ÄÏù¥ ÎêòÎäî Ïó¥Ïùò ÏúÑÏπòÎ•º Ï£ºÏÑ∏Ïöî.
df.sort_values(by="A")

KeyError: ignored

In [ ]:
df.sort_values(by=["C","A"])

## Ìñâ/Ïó¥ Ìï©Í≥Ñ
* Numpy ÏóêÏÑúÎäî np.sum Ïù¥ÏóàÏäµÎãàÎã§

In [ ]:
np.random.seed(12)
df2 = pd.DataFrame(np.random.randint(10, size=(4,8)))
df2

   0  1  2  3  4  5  6  7
0  6  1  2  3  3  0  6  1
1  4  5  9  2  6  0  5  8
2  2  9  3  4  3  1  7  0
3  2  6  2  0  4  6  9  0

### Ìñâ Î∞©Ìñ• Ìï©Í≥Ñ (Ïó¥ Î∞©Ìñ• axis = 0/ Ìñâ Î∞©Ìñ• axis =1)

In [ ]:
# Ìñâ Î∞©Ìñ• Ìï©Í≥Ñ 
df2.sum() # Ïó¥Îã®ÏúÑ (axis = 0)
df2.sum(axis = 1) # Ìñâ Î∞©Ìñ• Ìï©Í≥Ñ

0    22
1    39
2    29
3    29
dtype: int64

In [ ]:
df2.sum(axis =1)

0    22
1    39
2    29
3    29
dtype: int64

In [ ]:
df2['Sum'] =df2.sum(axis=1)
df2['Sum']

0    22
1    39
2    29
3    29
Name: Sum, dtype: int64

In [ ]:
df2.loc['ColSum',:] = df2.sum() # Ïó¥ Ìï©Í≥Ñ
df2

           0     1     2    3     4    5     6    7    Sum
0        6.0   1.0   2.0  3.0   3.0  0.0   6.0  1.0   44.0
1        4.0   5.0   9.0  2.0   6.0  0.0   5.0  8.0   78.0
2        2.0   9.0   3.0  4.0   3.0  1.0   7.0  0.0   58.0
3        2.0   6.0   2.0  0.0   4.0  6.0   9.0  0.0   58.0
ColSum  14.0  21.0  16.0  9.0  16.0  7.0  27.0  9.0  238.0

In [ ]:
# sum : Ìï©Í≥Ñ / mean : ÌèâÍ∑†
df2.mean() # Ïó¥ Î∞©Ìñ• ÌèâÍ∑†
df2.mean(axis = 1)

0    4.888889
1    8.666667
2    6.444444
3    6.444444
dtype: float64

## üéâ Ïó∞ÏäµÎ¨∏Ï†ú2

1. ÌÉÄÏù¥ÌÉÄÎãâ Ìò∏ ÏäπÍ∞ùÏùò ÌèâÍ∑† ÎÇòÏù¥Î•º Íµ¨ÌïòÎùº
2. ÌÉÄÏù¥ÌÉÄÎãâ Ìò∏ ÏäπÍ∞ùÏ§ë Ïó¨ÏÑ± ÏäπÍ∞ùÏùò ÌèâÍ∑† ÎÇòÏù¥Î•º Íµ¨ÌïòÎùº.
3. ÌÉÄÏù¥ÌÉÄÎãâ Ìò∏ ÏäπÍ∞ù Ï§ë 1Îì±Ïã§ ÏÑ†Ïã§Ïùò Ïó¨ÏÑ± ÏäπÍ∞ùÏùò ÌèâÍ∑† ÎÇòÏù¥Î•º Íµ¨ÌïòÎùº.

In [ ]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

## Î¨∏Ï†úÌíÄÏù¥

In [ ]:
#1
titanic.age.mean()

29.69911764705882

In [ ]:
titanic.loc[titanic.sex =='female'].age.mean()

27.915708812260537

In [ ]:
f = titanic['sex'] =='female' # Î∂àÎ¶¨Ïñ∏ Î∞∞Ïó¥ Ïù∏Îç±Ïã±ÏúºÎ°ú Ïó¨ÏÑ±Îßå ÌïÑÌÑ∞ÎßÅ

In [ ]:
titanic.loc[f].age.mean()

27.915708812260537

In [ ]:
d = titanic.loc[titanic.sex =='female']
d

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [ ]:
# 3. ÌÉÄÏù¥ÌÉÄÎãâÌò∏ ÏäπÍ∞ùÏ§ë 1Îì±Ïã§ ÏÑ†Ïã§Ïùò Ïó¨ÏÑ± ÏäπÍ∞ùÏùò ÌèâÍ∑† ÎÇòÏù¥Î•º Íµ¨ÌïòÎùº.
# [ÌÉÄÏù¥ÌÉÄÎãâÌò∏] (df)
# [1Îì±Ïã§ ÏÑ†Ïã§] (condition)
# [Ïó¨ÏÑ± ÏäπÍ∞ù] (condition)
# [ÌèâÍ∑†] (Í≥ÑÏÇ∞)
# [ÎÇòÏù¥] (column)
titanic.pclass.unique() # 1->1Îì±Í∏â

array([3, 1, 2])

In [ ]:
first_class = titanic.pclass== 1
first_class

0      False
1       True
2      False
3       True
4      False
       ...
886    False
887     True
888    False
889     True
890    False
Name: pclass, Length: 891, dtype: bool

In [ ]:
df_t = titanic[first_class & f] # and(&) => Îëò Îã§ True ÎßåÏ°±ÏãúÌÇ§Îäî ÏõêÏÜåÎßå True
df_t

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,adult/child
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,adult
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,adult
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True,adult
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False,child
52,1,1,female,49.0,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,1,1,female,45.0,1,1,164.8667,S,First,woman,False,NaN,Southampton,yes,False,adult
862,1,1,female,48.0,0,0,25.9292,S,First,woman,False,D,Southampton,yes,True,adult
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False,adult
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False,adult
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,child

In [ ]:
df_t.pclass.unique(), df_t.sex.unique()

(array([1]), array(['female'], dtype=object))

In [ ]:
df_t.age.mean()

34.61176470588235

## `apply` Î≥ÄÌôò

* sum, mean Ïù¥ÎØ∏ Ï†ïÏùòÎêú Ìï®Ïàò/ Î©îÏÜåÎìú. Ïñ¥Îñ†Ìïú ÏûëÏóÖÏùÑ Ìï¥Ï§ÑÏßÄ Ïù¥ÎØ∏ Ï†ïÌï¥Ï†∏ ÏûàÏäµÎãàÎã§.
* ÌñâÏù¥ÎÇò Ïó¥ Îã®ÏúÑÎ°ú Î≥µÏû°Ìïú Îç∞Ïù¥ÌÑ∞ Ï≤òÎ¶¨ >> `apply`Î©îÏÜåÎìú ÏÇ¨Ïö©
* Ïù∏ÏàòÎ°ú Ìñâ ÎòêÎäî Ïó¥ÏùÑ Î∞õÎäî Ìï®ÏàòÎ•º Í∏∞Ï§ÄÏúºÎ°ú `apply` Î©îÏÜåÎìúÏùò Ïù∏ÏàòÎ°ú ÎÑ£ÏúºÎ©¥ Í∞Å Ïó¥(ÎòêÎäî Ìñâ)ÏùÑ Î∞òÎ≥µÌïòÏó¨ Í∑∏ Ìï®ÏàòÏóê Ï†ÅÏö©ÏãúÌÇµÎãàÎã§

In [ ]:
df3 = pd.DataFrame({
    'A': [1, 3, 4, 3, 4],
    'B': [2, 3, 1, 2, 3],
    'C': [1, 5, 2, 4, 4]
})
df3

   A  B  C
0  1  2  1
1  3  3  5
2  4  1  2
3  3  2  4
4  4  3  4

In [ ]:
# Í∞Å Ïó¥Ïùò ÏµúÎåìÍ∞íÍ≥º ÏµúÏÜåÍ∞íÏùÑ Ï∞®Ïù¥Î•º Íµ¨ÌïòÎäî Ïó∞ÏÇ∞
df3.max()-df3.min()

A    3
B    2
C    4
dtype: int64

In [ ]:
df3.columns # axis=0 (Ïó¥)

Index(['A', 'B', 'C'], dtype='object')

In [ ]:
df3.index # axis=1 (Ìñâ)

RangeIndex(start=0, stop=5, step=1)

### ÎûåÎã§ Ìï®Ïàò
lambda x: (x) : lambdaÏùò Ïù∏ÏûêÎì§ : Ïù∏ÏûêÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú ÎÇòÏò¨ ÌëúÌòÑÏãù (Î∞òÌôòÎê† ÎÇ¥Ïö©)

ÏùµÎ™ÖÌï®ÏàòÎäî def fun_name : lambda Ïù¥Î¶ÑÏùÑ Ï§Ñ ÌïÑÏöî x --> ÏÇ¨Ïö©ÎêòÍ≥† ÌúòÎ∞úÎê®

df3.apply(lambda x: x.max())- x.min()

 * xÍ∞Ä Î¨¥ÏóáÏù¥ÎÉêÎ©¥ Ïó¥ÏùÑ ÏùòÎØ∏

In [ ]:
df2

           0     1     2    3     4    5     6    7    Sum
0        6.0   1.0   2.0  3.0   3.0  0.0   6.0  1.0   44.0
1        4.0   5.0   9.0  2.0   6.0  0.0   5.0  8.0   78.0
2        2.0   9.0   3.0  4.0   3.0  1.0   7.0  0.0   58.0
3        2.0   6.0   2.0  0.0   4.0  6.0   9.0  0.0   58.0
ColSum  14.0  21.0  16.0  9.0  16.0  7.0  27.0  9.0  238.0

In [ ]:
df2.apply(lambda x: x.max() - x.min()) # Í∞Å Ïó¥Ïùò ÏµúÎåìÍ∞í - ÏµúÏÜüÍ∞í

0       12.0
1       20.0
2       14.0
3        9.0
4       13.0
5        7.0
6       22.0
7        9.0
Sum    194.0
dtype: float64

In [ ]:
df2.apply(lambda x: x.max() - x.min(), axis=1) # Í∞Å ÌñâÏùò ÏµúÎåìÍ∞í - ÏµúÏÜüÍ∞í

0          44.0
1          78.0
2          58.0
3          58.0
ColSum    231.0
dtype: float64

In [ ]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,adult/child
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,adult
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,adult
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,adult
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,adult
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,adult
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,child
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,child
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,adult
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,adult

In [ ]:
titanic.sex.apply(lambda x: 'M' if x =='male' else 'F') # Ïñ¥Îñ§ ÌñâÏù¥ ÎÇ®ÏÑ±Ïù¥Î©¥ MÏùÑ Î∞∞Ï∂úÌïòÍ≥†, Ïó¨ÏÑ±Ïù¥ÎùºÎ©¥ FÎ•º Î∞∞Ï∂úÌïòÏãúÏò§.

0      M
1      F
2      F
3      F
4      M
      ..
886    M
887    F
888    F
889    M
890    M
Name: sex, Length: 891, dtype: object

### ÏÑ§Î™Ö
* age : ÏπºÎüº --> ÏãúÎ¶¨Ï¶à --> ÌñâÎì§Ïù¥ x
* ÏÇºÌï≠Ïó∞ÏÇ∞Ïûê : (Ï°∞Í±¥ÏùÑ ÎßåÏ°±ÏãúÏº∞ÏùÑ ÎïåÏùò Í∞í) if (Í≤ÄÏ¶ùÌï† Ï°∞Í±¥) else (Ï°∞Í±¥ÏùÑ ÎßåÏ°±ÏãúÌÇ§ÏßÄ ÏïäÏïòÏùÑ Îïå Í∞í)
* Îã§Î•∏ Ïñ∏Ïñ¥ : (Ï°∞Í±¥)? Ï∞∏Ïùº Îïå : Í±∞ÏßìÏùº Îïå

In [ ]:
titanic.sex.apply(lambda x: 'M' if x =='male' else 'F')

0      M
1      F
2      F
3      F
4      M
      ..
886    M
887    F
888    F
889    M
890    M
Name: sex, Length: 891, dtype: object

In [ ]:
# [Ìñâ Í∏∞Ï§ÄÏúºÎ°ú apply]
#f"{sex} / {embark_town}"
# x -> Ìñâ Í∑∏ ÏûêÏ≤¥
titanic.apply(lambda x : f"{x.sex} . {x.embark_town}", axis=1)

0        male . Southampton
1        female . Cherbourg
2      female . Southampton
3      female . Southampton
4        male . Southampton
               ...
886      male . Southampton
887    female . Southampton
888    female . Southampton
889        male . Cherbourg
890       male . Queenstown
Length: 891, dtype: object

In [ ]:
def some_fun(X):
  return len(X) **2

In [ ]:
titanic.apply(some_fun)

survived       793881
pclass         793881
sex            793881
age            793881
sibsp          793881
parch          793881
fare           793881
embarked       793881
class          793881
who            793881
adult_male     793881
deck           793881
embark_town    793881
alive          793881
alone          793881
dtype: int64

In [ ]:
titanic.apply(len) # Ìï®ÏàòÎ•º () ÏÜåÍ¥ÑÌò∏Î•º ÏÉùÎûµÌïòÍ≥† ÎÑ£ÏúºÎ©¥, lambda Ï≤òÎüº Ïç®Ï§Ñ Ïàò ÏûàÏùå

survived       891
pclass         891
sex            891
age            891
sibsp          891
parch          891
fare           891
embarked       891
class          891
who            891
adult_male     891
deck           891
embark_town    891
alive          891
alone          891
dtype: int64

In [ ]:
# applyÎ°ú Í≥ÑÏÇ∞Ìïú Í∞íÏùÑ ÌäπÏ†ï ÌÇ§(Ïó¥ Ïù¥Î¶Ñ)Ïóê Ï∂îÍ∞Ä
titanic['adult/child'] = titanic.apply(
    lambda r:"adult" if r.age >= 20 else "child",
    axis = 1 # row(Ìñâ) Í∏∞Ï§Ä Ï≤òÎ¶¨

)
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,adult/child
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,adult
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,adult
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,adult
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,adult
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,adult
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,child
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,child
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,adult
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,adult

## üò≠  Ïó∞ÏäµÎ¨∏Ï†ú 3
> ÌÉÄÏù¥ÌÉÄÎãâÌò∏Ïùò ÏäπÍ∞ùÏóê ÎåÄÌï¥ ÎÇòÏù¥ÏôÄ ÏÑ±Î≥ÑÏóê ÏùòÌïú Ïπ¥ÌÖåÍ≥†Î¶¨ Ïó¥Ïù∏ category1 Ïó¥ÏùÑ ÎßåÎì§Ïñ¥Îùº. category1 Ïπ¥ÌÖåÍ≥†Î¶¨Îäî Îã§ÏùåÍ≥º Í∞ôÏù¥ Ï†ïÏùòÎêúÎã§.
1. 20ÏÇ¥Ïù¥ ÎÑòÏúºÎ©¥ ÏÑ±Î≥ÑÏùÑ Í∑∏ÎåÄÎ°ú ÏÇ¨Ïö©ÌïúÎã§.
1. 20ÏÇ¥ ÎØ∏ÎßåÏù¥Î©¥ ÏÑ±Î≥ÑÏóê Í¥ÄÍ≥ÑÏóÜÏù¥ ‚Äúchild‚ÄùÎùºÍ≥† ÌïúÎã§.

In [ ]:
titanic
#1. 20ÏÇ¥Ïù¥ ÎÑòÏúºÎ©¥ (df.age >= 20) = df.sex
#2. 20ÏÇ¥ ÎØ∏ÎßåÏù¥Î©¥ (df.age < 20) = child

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,adult/child
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,adult
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,adult
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,adult
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,adult
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,adult
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,child
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,child
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,adult
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,adult

In [ ]:
titanic['category1'] = (
    titanic.apply(lambda r : r.sex if r.age >= 20 else 'child', axis =1)
  )
titanic.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,adult/child,category1
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True,adult,male
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True,child,child
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False,child,child
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True,adult,male
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,adult,male

In [ ]:
titanic.category1.unique()

array(['male', 'female', 'child'], dtype=object)

In [ ]:
titanic.category1.value_counts() # ÎÇ®ÏÑ±, ÏïÑÏù¥, Ïó¨ÏÑ±Ïùò Ìï©Í≥Ñ

male      364
child     341
female    186
Name: category1, dtype: int64

# Í∞ÑÎã®Ìïú Î©îÏÑúÎìú Îì§

## `fillna`

* NaN Í∞íÏùÑ ÌäπÏ†ïÌïú Îç∞Ïù¥ÌÑ∞Î°ú Ï±ÑÏõåÏ£ºÎäî Î©îÏÜåÎìú

In [ ]:
df3

   A  B  C
0  1  2  1
1  3  3  5
2  4  1  2
3  3  2  4
4  4  3  4

In [ ]:
df3.apply(pd.value_counts) # Ïó¥ÎßàÎã§ Ïñ¥Îñ†Ìïú Í≥†Ïú†Í∞íÏù¥ Ïì∞ÏòÄÎäîÏßÄ ÎπàÎèÑ
# pd.value_counts(Ïó¥) -> ÌäπÏ†ïÌïú Ïó¥Ïóê Í≥†Ïú†Í∞íÏù¥ Ïñ¥Îñ§ ÎπàÎèÑÎ°ú Ïì∞ÏòÄÎäîÏßÄ ÌôïÏù∏
# apply(axis=0) : Ïó¥ Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º ÌåêÎã®

     A    B    C
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

In [ ]:
df3.apply(pd.value_counts).fillna(0.0) # 0.0 ÏúºÎ°ú nanÏúºÎ°ú Ï±ÑÏõÅÎãàÎã§
# fill : Ï±ÑÏö¥Îã§

     A    B    C
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

## `astype` Î©îÏÑúÎìú
* ÏßÄÏ†ïÌïú ÏãúÎ¶¨Ï¶à, Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò ÏûêÎ£åÌòïÏùÑ Î≥ÄÍ≤Ω

In [ ]:
df4 = df3.apply(pd.value_counts).fillna(0.0)
df4

     A    B    C
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

In [ ]:
df4.A.dtype

dtype('float64')

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      float64
 1   B       5 non-null      float64
 2   C       5 non-null      float64
dtypes: float64(3)
memory usage: 160.0 bytes

### ÏÇ¨Ïö©
* astype(Î∞îÍæ∏Í≥† Ïã∂ÏùÄ ÌÉÄÏûÖ)
* ÏõêÎ≥∏ÏóêÎäî ÏòÅÌñ•ÏùÑ Ï£ºÏßÄ ÏïäÏäµÎãàÎã§.

In [ ]:
df4.astype(int)

   A  B  C
1  1  1  1
2  0  2  1
3  2  2  0
4  2  0  2
5  0  0  1

In [ ]:
df4.A

1    1.0
2    0.0
3    2.0
4    2.0
5    0.0
Name: A, dtype: float64

## Ïã§Ïàò Í∞íÏùÑ Î≤îÏ£ºÌòï Í∞íÏúºÎ°ú Î≥ÄÌôò
* Ïó∞Î†π Î≤îÏúÑÎäî 0~99ÏÑ∏ Î•º Ïñ¥Î¶∞Ïù¥, Ï≤≠ÏÜåÎÖÑ, Ï≤≠ÎÖÑ, Ï§ëÎÖÑ, ÎÖ∏ÎÖÑÍπåÏßÄ ÎÇòÎàå Ïàò ÏûàÏäµÎãàÎã§.
* ÏÜåÎìù ÏùÄ Ïà´ÏûêÎ•º ÎπàÎØº, ÏÑúÎØº, Ï§ëÏÇ∞, Î∂ÄÏú†, Ï¥àÎ∂ÄÏú†Ï∏µÏúºÎ°ú ÎÇòÎàå Ïàò ÏûàÏäµÎãàÎã§.

##`cut` Í≥º `qcut`

* Ïã§Ïàò Í∞íÏùÑ ÌÅ¨Í∏∞ Í∏∞Ï§ÄÏúºÎ°ú ÌïòÏó¨ Ïπ¥ÌÖåÍ≥†Î¶¨ Í∞íÏúºÎ°ú Î≥ÄÌôòÌïòÍ≥† Ïã∂ÏùÑ Îïå ÏÇ¨Ïö©Ìï©ÎãàÎã§.

In [ ]:
ages = [0, 2, 10, 21, 23, 37, 31, 61, 20, 41, 32, 101]

### Í∞ÄÏ†ï
* 1ÏÑ∏ ~ : ÎØ∏ÏÑ±ÎÖÑÏûê
* 20ÏÑ∏ ~ : Ï≤≠ÎÖÑ
* 30ÏÑ∏ ~ : Ï§ëÎÖÑ
* 50ÏÑ∏ ~ : Ïû•ÎÖÑ
* 70ÏÑ∏ ~ : ÎÖ∏ÎÖÑ

In [ ]:
bins = [1, 20, 30, 50, 70, 100]
labels = ["ÎØ∏ÏÑ±ÎÖÑÏûê", "Ï≤≠ÎÖÑ","Ï§ëÎÖÑ","Ïû•ÎÖÑ","ÎÖ∏ÎÖÑ"]
cats = pd.cut(ages, bins, labels)

In [ ]:
cats # 0ÏÑ∏ÏôÄ 101ÏÑ∏Îäî nanÍ∞í ÎèÑÏ∂ú

[NaN, (1.0, 20.0], (1.0, 20.0], (20.0, 30.0], (20.0, 30.0], ..., (50.0, 70.0], (1.0, 20.0], (30.0, 50.0], (30.0, 50.0], NaN]
Length: 12
Categories (5, interval[int64, right]): [(1, 20] < (20, 30] < (30, 50] < (50, 70] < (70, 100]]

In [ ]:
bins2 = [0,1,20,30,50,70,100,200]
labels2 = ['ÏïÑÍ∏∞','ÎØ∏ÏÑ±ÎÖÑÏûê','Ï≤≠ÎÖÑ','Ï§ëÎÖÑ','Ïû•ÎÖÑ','ÎÖ∏ÎÖÑ','Ï¥àÍ≥†Î†π']
cats2 = pd.cut(ages, bins2, labels=labels2)
cats2

[NaN, 'ÎØ∏ÏÑ±ÎÖÑÏûê', 'ÎØ∏ÏÑ±ÎÖÑÏûê', 'Ï≤≠ÎÖÑ', 'Ï≤≠ÎÖÑ', ..., 'Ïû•ÎÖÑ', 'ÎØ∏ÏÑ±ÎÖÑÏûê', 'Ï§ëÎÖÑ', 'Ï§ëÎÖÑ', 'Ï¥àÍ≥†Î†π']
Length: 12
Categories (7, object): ['ÏïÑÍ∏∞' < 'ÎØ∏ÏÑ±ÎÖÑÏûê' < 'Ï≤≠ÎÖÑ' < 'Ï§ëÎÖÑ' < 'Ïû•ÎÖÑ' < 'ÎÖ∏ÎÖÑ' < 'Ï¥àÍ≥†Î†π']

In [ ]:
df_age = pd.DataFrame({'age': ages})
df_age

    age
0     0
1     2
2    10
3    21
4    23
5    37
6    31
7    61
8    20
9    41
10   32
11  101

In [ ]:
df_age['age_cat'] = cats
df_age

    age       age_cat
0     0           NaN
1     2   (1.0, 20.0]
2    10   (1.0, 20.0]
3    21  (20.0, 30.0]
4    23  (20.0, 30.0]
5    37  (30.0, 50.0]
6    31  (30.0, 50.0]
7    61  (50.0, 70.0]
8    20   (1.0, 20.0]
9    41  (30.0, 50.0]
10   32  (30.0, 50.0]
11  101           NaN

In [ ]:
df_age['age_cat'] = cats
df_age

    age       age_cat
0     0           NaN
1     2   (1.0, 20.0]
2    10   (1.0, 20.0]
3    21  (20.0, 30.0]
4    23  (20.0, 30.0]
5    37  (30.0, 50.0]
6    31  (30.0, 50.0]
7    61  (50.0, 70.0]
8    20   (1.0, 20.0]
9    41  (30.0, 50.0]
10   32  (30.0, 50.0]
11  101           NaN

In [ ]:
#qcut : ÌäπÏ†ïÌïú Î≤îÏúÑÎ•º Ï™ºÍ∞úÏÑú Ï≤òÎ¶¨
qcats = pd.qcut(ages, 4, labels=['Ïú†ÎÖÑ','Ï≤≠ÎÖÑ','Ïû•ÎÖÑ','ÎÖ∏ÎÖÑ'])
qcats

['Ïú†ÎÖÑ', 'Ïú†ÎÖÑ', 'Ïú†ÎÖÑ', 'Ï≤≠ÎÖÑ', 'Ï≤≠ÎÖÑ', ..., 'ÎÖ∏ÎÖÑ', 'Ï≤≠ÎÖÑ', 'ÎÖ∏ÎÖÑ', 'Ïû•ÎÖÑ', 'ÎÖ∏ÎÖÑ']
Length: 12
Categories (4, object): ['Ïú†ÎÖÑ' < 'Ï≤≠ÎÖÑ' < 'Ïû•ÎÖÑ' < 'ÎÖ∏ÎÖÑ']

In [ ]:
df_age['age_cat2'] = qcats
df_age

    age age_cat2
0     0       Ïú†ÎÖÑ
1     2       Ïú†ÎÖÑ
2    10       Ïú†ÎÖÑ
3    21       Ï≤≠ÎÖÑ
4    23       Ï≤≠ÎÖÑ
5    37       Ïû•ÎÖÑ
6    31       Ïû•ÎÖÑ
7    61       ÎÖ∏ÎÖÑ
8    20       Ï≤≠ÎÖÑ
9    41       ÎÖ∏ÎÖÑ
10   32       Ïû•ÎÖÑ
11  101       ÎÖ∏ÎÖÑ

## Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏóêÏÑúÏùò Ïù∏Îç±Ïä§ Ï°∞Ïûë

2Í∞úÎ•º ÏÜåÍ∞úÌï©ÎãàÎã§

### `set_index` : ÏÉàÎ°úÏö¥ Ìñâ Ïù∏Îç±Ïä§ ÏßÄÏ†ï
: ÌäπÏ†ïÌïú Ïó¥ÏùÑ ÏÉàÎ°úÏö¥ Ìñâ Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ï (Í∏∞Ï°¥ ÌñâÏùò Ïù∏Îç±Ïä§Î•º Ï†úÍ±∞)

### `reset_index` : ÏÉàÎ°úÏö¥ Ïó¥ Ï∂îÍ∞Ä
: Í∏∞Ï°¥Ïùò Ìñâ Ïù∏Îç±Ïä§Î•º Ï†úÍ±∞ÌïòÍ≥†, Ìï¥Îãπ Ïù∏Îç±Ïä§Î•º ÏÉàÎ°úÏö¥ Ïó¥Î°ú Ï∂îÍ∞Ä

In [ ]:
import numpy as np

In [ ]:
arr = np.vstack([
    ["A","B","C","D","E"],
    np.round(np.random.rand(3,5),2)
])
arr

array([['A', 'B', 'C', 'D', 'E'],
       ['0.31', '0.67', '0.47', '0.82', '0.29'],
       ['0.73', '0.7', '0.33', '0.33', '0.98'],
       ['0.62', '0.95', '0.77', '0.83', '0.41']], dtype='<U32')

In [ ]:
arr.shape

(4, 5)

In [ ]:
arr.T

array([['A', '0.31', '0.73', '0.62'],
       ['B', '0.67', '0.7', '0.95'],
       ['C', '0.47', '0.33', '0.77'],
       ['D', '0.82', '0.33', '0.83'],
       ['E', '0.29', '0.98', '0.41']], dtype='<U32')

In [ ]:
np.random.seed(22)

In [ ]:
df1 = pd.DataFrame(
    np.vstack([                  # Í∞ôÏùÄ Ïó¥ ÏÇ¨Ïù¥Ï¶àÏù∏Îç∞ Ìñâ Î∞©Ìñ•ÏúºÎ°ú Í≤πÏ≥êÏßëÎãàÎã§
      ["A", "B", "C", "D", "E"], # list('ABCDE') 1 x 5 Î™®Ïñë
        # 0 ~ 1 Ïã§ÏàòÎ•º 3x5 ÌñâÎ†¨ Î™®ÏñëÏúºÎ°ú.
        np.round(np.random.rand(3, 5), 2)
    ]).T,
    columns=["C1", "C2", "C3", "C4"] # Ïó¥ Ïù∏Îç±Ïä§
)
df1

  C1    C2    C3    C4
0  A  0.21  0.34  0.01
1  B  0.48  0.27  0.56
2  C  0.42  0.69  0.81
3  D  0.86  0.22  0.75
4  E  0.17  0.81  0.19

In [ ]:
df1.info() # c2, c3, c4Î•º floatÎ°ú Î∞îÍæ∏Î†§Î©¥ astype(float)Î°ú Î∞îÍæ∏Í≥† ÎåÄÏûÖÌï©ÎãàÎã§.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C1      5 non-null      object
 1   C2      5 non-null      object
 2   C3      5 non-null      object
 3   C4      5 non-null      object
dtypes: object(4)
memory usage: 288.0+ bytes

In [ ]:
# set_index ÏÇ¨Ïö©Ìï¥ÏÑú c1Ïó¥ÏùÑ Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ïÌï¥ÏÑú ÏÇ¨Ïö©ÌïòÍ≤†ÏäµÎãàÎã§
df2 = df1.set_index('C1')
df2

      C2    C3    C4
C1
A   0.01  0.77  0.58
B   0.77  0.69   0.7
C   0.96  0.39  0.11
D    0.7  0.62  0.92
E    0.3  0.43  0.99

In [ ]:
df3 = df2.set_index('C2')
df3

        C3    C4
C2
0.01  0.77  0.58
0.77  0.69   0.7
0.96  0.39  0.11
0.7   0.62  0.92
0.3   0.43  0.99

### ÏõêÎûò ÏûàÎçò Ìñâ Ïù∏Îç±Ïä§Î•º Ï∂îÍ∞ÄÏ†ÅÏù∏ Ïó¥Î°ú Ïù¥Îèô

In [ ]:
df2.reset_index()

  C1    C2    C3    C4
0  A  0.01  0.77  0.58
1  B  0.77  0.69   0.7
2  C  0.96  0.39  0.11
3  D   0.7  0.62  0.92
4  E   0.3  0.43  0.99

### ÏõêÎûò ÏûàÎçò Ìñâ Ïù∏Îç±Ïä§Î•º ÏÇ≠Ï†ú
* 0Î∂ÄÌÑ∞ ÏãúÏûëÌïòÎäî Ï†ïÏàòÌòï Ïù∏Îç±Ïä§Î°ú ÎßåÎì§Í∏∞

In [ ]:
df2.reset_index(drop=True)

     C2    C3    C4
0  0.01  0.77  0.58
1  0.77  0.69   0.7
2  0.96  0.39  0.11
3   0.7  0.62  0.92
4   0.3  0.43  0.99

## Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Ìï©ÏÑ±

* numpy Î∞∞Ïó¥ÏùÑ Ìï©ÏπòÎäî Í≤É 
    * `concatenate`, `vstack`(Ïó¥ ÏÇ¨Ïù¥Ï¶à), `hstack`(Ìñâ),
    * `dstack`(m x n), `stack`(Î™®ÏñëÏùÑ ÎÇ¥Í∞Ä ÏÑ§Ï†ïÌï¥ÏÑú)...

<br>  Ï¶â, Î™®ÏñëÏù¥ ÎßûÎäî Í≤ÉÎì§ÏùÑ Ïó∞Í≤∞Ìï©ÎãàÎã§.

#### Ìï©ÏÑ±Ïùò ÎåÄÏÉÅ

1. Í≥µÌÜµ Ïó¥ (1:1 Ïó∞Í≤∞)

|Ïù¥Î¶Ñ|Ï†ÑÌôîÎ≤àÌò∏|
|-|-|
|ÍπÄÏ†úÏú°|010-2222-3333|
|Ïù¥ÍπÄÏπò|010-5555-8888|

|Ïù¥Î¶Ñ|Ï£ºÏÜå|
|-|-|
|ÍπÄÏ†úÏú°|ÏÑúÏö∏Ïãú Ï†úÏú°Íµ¨|
|Ïù¥ÍπÄÏπò|Í≤ΩÍ∏∞ÎèÑ ÍπÄÏπòÏãú|

‚Üì

|Ïù¥Î¶Ñ|Ï£ºÏÜå|Ï†ÑÌôîÎ≤àÌò∏|
|-|-|-|
|ÍπÄÏ†úÏú°|ÏÑúÏö∏Ïãú Ï†úÏú°Íµ¨|010-2222-3333|
|Ïù¥ÍπÄÏπò|Í≤ΩÍ∏∞ÎèÑ ÍπÄÏπòÏãú|010-5555-8888|

* Ïù¥Î¶Ñ : Í≥µÌÜµ Ïó¥
Ìñâ ÎùºÎ≤® : Ïó¥, Ïù¥Î¶Ñ, Ìñâ Ïù∏Îç±Ïä§
-------------------------------

2. value Í∏∞Ï§ÄÏúºÎ°ú 1:Îã§ Îß§Ïπ≠

|Ïù¥Î¶Ñ|Ï£ºÏÜå|
|-|-|
|AÎß®|ÏÑúÏö∏Ïãú|
|BÎß®|Í≤ΩÍ∏∞ÎèÑ|
|CÎß®|ÏÑúÏö∏Ïãú|

|Ï£ºÏÜå|ÏßÄÏõêÍ∏à|
|-|-|
|ÏÑúÏö∏Ïãú|10000|
|Í≤ΩÍ∏∞ÎèÑ|11000|


‚Üì

|Ïù¥Î¶Ñ|Ï£ºÏÜå|ÏßÄÏõêÍ∏à|
|-|-|-|
|AÎß®|ÏÑúÏö∏Ïãú|10000|
|BÎß®|Í≤ΩÍ∏∞ÎèÑ|11000|
|CÎß®|ÏÑúÏö∏Ïãú|10000|

### Ïó∞Í≤∞Ïö© Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ

In [ ]:
df1 = pd.DataFrame({
    'Í≥†Í∞ùÎ≤àÌò∏': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    'Ïù¥Î¶Ñ': ['ÎëòÎ¶¨', 'ÎèÑÏö∞ÎÑà', 'ÎòêÏπò', 'Í∏∏Îèô', 'Ìù¨Îèô', 'ÎßàÏù¥ÏΩú', 'ÏòÅÌù¨']
}, columns=['Í≥†Í∞ùÎ≤àÌò∏', 'Ïù¥Î¶Ñ'])
df1

   Í≥†Í∞ùÎ≤àÌò∏   Ïù¥Î¶Ñ
0  1001   ÎëòÎ¶¨
1  1002  ÎèÑÏö∞ÎÑà
2  1003   ÎòêÏπò
3  1004   Í∏∏Îèô
4  1005   Ìù¨Îèô
5  1006  ÎßàÏù¥ÏΩú
6  1007   ÏòÅÌù¨

In [ ]:
df2 = pd.DataFrame({
    'Í≥†Í∞ùÎ≤àÌò∏': [1001, 1001, 1005, 1006, 1008, 1001],
    'Í∏àÏï°': [10000, 20000, 15000, 5000, 100000, 30000]
}, columns=['Í≥†Í∞ùÎ≤àÌò∏', 'Í∏àÏï°'])
df2

   Í≥†Í∞ùÎ≤àÌò∏      Í∏àÏï°
0  1001   10000
1  1001   20000
2  1005   15000
3  1006    5000
4  1008  100000
5  1001   30000

### Í≤∞Ìï© merge

merge : Í≤∞Ìï©ÌïòÎã§

* inner joinÏúºÎ°ú Ìï©Ï≤¥
: Í∏∞Ï§ÄÏù¥ ÎêòÎäî Ïó¥Ïù¥ ÏñëÏ™Ω Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏóê Î™®Îëê ÏÜçÌïòÎäî ÏõêÏÜåÎì§Îßå ÎÇ®Í≤®Ï§å

#### Íµ¨Ï°∞

* pd.merge(df1, df2)

In [ ]:
pd.merge(df1,df2) #df1ÏóêÎèÑ Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÍ≥†, df2ÏóêÎèÑ Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÎäî Í≥†Í∞ùÎ≤àÌò∏Î•º Í∏∞Ï§ÄÏúºÎ°ú Í≤∞Ìï©

   Í≥†Í∞ùÎ≤àÌò∏   Ïù¥Î¶Ñ     Í∏àÏï°
0  1001   ÎëòÎ¶¨  10000
1  1001   ÎëòÎ¶¨  20000
2  1001   ÎëòÎ¶¨  30000
3  1005   Ìù¨Îèô  15000
4  1006  ÎßàÏù¥ÏΩú   5000

![image.png]()

In [ ]:
pd.merge(df1,df2,how ="inner")

   Í≥†Í∞ùÎ≤àÌò∏   Ïù¥Î¶Ñ     Í∏àÏï°
0  1001   ÎëòÎ¶¨  10000
1  1001   ÎëòÎ¶¨  20000
2  1001   ÎëòÎ¶¨  30000
3  1005   Ìù¨Îèô  15000
4  1006  ÎßàÏù¥ÏΩú   5000

* outer joinÏúºÎ°ú Ìï©Ï≤¥
![image.png]()

In [ ]:
pd.merge(df1,df2,how ="outer")

   Í≥†Í∞ùÎ≤àÌò∏   Ïù¥Î¶Ñ        Í∏àÏï°
0  1001   ÎëòÎ¶¨   10000.0
1  1001   ÎëòÎ¶¨   20000.0
2  1001   ÎëòÎ¶¨   30000.0
3  1002  ÎèÑÏö∞ÎÑà       NaN
4  1003   ÎòêÏπò       NaN
5  1004   Í∏∏Îèô       NaN
6  1005   Ìù¨Îèô   15000.0
7  1006  ÎßàÏù¥ÏΩú    5000.0
8  1007   ÏòÅÌù¨       NaN
9  1008  NaN  100000.0

In [ ]:
pd.merge(df1,df2, how = 'left') # left : df1 ÏôºÏ™ΩÏóê ÏûàÏäµÎãàÎã§

   Í≥†Í∞ùÎ≤àÌò∏   Ïù¥Î¶Ñ       Í∏àÏï°
0  1001   ÎëòÎ¶¨  10000.0
1  1001   ÎëòÎ¶¨  20000.0
2  1001   ÎëòÎ¶¨  30000.0
3  1002  ÎèÑÏö∞ÎÑà      NaN
4  1003   ÎòêÏπò      NaN
5  1004   Í∏∏Îèô      NaN
6  1005   Ìù¨Îèô  15000.0
7  1006  ÎßàÏù¥ÏΩú   5000.0
8  1007   ÏòÅÌù¨      NaN

In [ ]:
pd.merge(df1,df2, how = 'right') # right : df2 Ïò§Î•∏Ï™ΩÏóê ÏûàÏäµÎãàÎã§ (df2ÏùòÍ≥†Í∞ùÎ≤àÌò∏Î•º Í∏∞Ï§ÄÏúºÎ°ú Ïù¥Î¶Ñ Ìñâ Í∞ïÏ†ú Ìï©Ï≤¥)

   Í≥†Í∞ùÎ≤àÌò∏   Ïù¥Î¶Ñ      Í∏àÏï°
0  1001   ÎëòÎ¶¨   10000
1  1001   ÎëòÎ¶¨   20000
2  1005   Ìù¨Îèô   15000
3  1006  ÎßàÏù¥ÏΩú    5000
4  1008  NaN  100000
5  1001   ÎëòÎ¶¨   30000

In [ ]:
df1

   Í≥†Í∞ùÎ≤àÌò∏   Ïù¥Î¶Ñ
0  1001   ÎëòÎ¶¨
1  1002  ÎèÑÏö∞ÎÑà
2  1003   ÎòêÏπò
3  1004   Í∏∏Îèô
4  1005   Ìù¨Îèô
5  1006  ÎßàÏù¥ÏΩú
6  1007   ÏòÅÌù¨

In [ ]:
df2

   Í≥†Í∞ùÎ≤àÌò∏      Í∏àÏï°
0  1001   10000
1  1001   20000
2  1005   15000
3  1006    5000
4  1008  100000
5  1001   30000